
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 0.64rem;
  background: #E5E5E5;
  line-height: 150%;
}

img {
  max-width: 100%;
 }

.container {
    background: #FFFFFF;
    max-width: 550px;
    margin: 2.5rem auto;
}

.nav {
      background: #F55A5A;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 0.904rem;
      margin-bottom: 20px;
      border-radius: 5px 5px 0 0;
}

.nav > img {
            
            background: #F55A5A;
            height: 24px;
            margin-right:8px;
}

.card {
        display: flex;
        width: 470px;
        margin: 0 auto;
        padding-top: 20px;
        justify-content: space-between;
        border-bottom: 1px solid #F5F5F5;
        padding-bottom: 20px;
}

.card > img {
    width: 30%;
    object-fit: cover;
    border-radius: 5px;
}

.card-content {
                width: 67%;
}

.sm-title {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding-bottom: 0;
}

.sm-title > img {
                  width: 20px;
                  height: 20.55px;
                  
                  margin-right: 2px;
}

.country {
            margin-right: 12px;
            text-transform: uppercase;
}

.landmark {
            margin-top: 0;
            font-weight: 700;
            font-size: 25px;
          
}

